<link rel="stylesheet" type="text/css" href="login.css" />
<button onclick="changedark()" class="btn but2 btn-secondary btn-sm">Dark-Mode</button>
    <script type="text/javascript" src="functions.js"></script>
<body onload="getLocation()">
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="/register" method = "POST">
			<h1>Create an Account</h1>
			<div class = "speech">
				<input 
					type="text" 
					id = "name" 
					name = "name" 
					placeholder="Name" 
					required/>
				<img id = "name" onclick="startDictation(this.id)" src="//i.imgur.com/cHidSVu.gif" />
				<input 
					type="email" 
					id = "email1" 
					name = "email" 
					placeholder="Email" 
					required/>
				<img id = "email1" onclick="startDictation(this.id)" src="//i.imgur.com/cHidSVu.gif" />
				<input 
					type="password" 
					id = "password1" 
					name = "password" 
					placeholder="Password" 
					required />
				<img id = "password1" onclick="startDictation(this.id)" src="//i.imgur.com/cHidSVu.gif" />
			</div>
			<button>Sign Up</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="/login" method="POST">
			<input type = "hidden" name = "userLat" id = "userLat" />
			<input type = "hidden" name = "userLong" id = "userLong" />

			<script>
				var userLat = document.getElementById('userLat');
				var userLong = document.getElementById('userLong');

				function getLocation() {
					if (navigator.geolocation) {
					navigator.geolocation.getCurrentPosition(showPosition);
					} else { 
					// x.innerHTML = "Geolocation is not supported by this browser.";
					}
				}

				function showPosition(position) {
					userLat.value = (position.coords.latitude);
					userLong.value = position.coords.longitude;
					// userLong = pposition.coords.longitude
					// alert(userLat.value);
					// alert(userLong);
				}



			</script>
			<h1>Sign in</h1>
			<div class = "speech">
				<input 
				type="email" 
				id = "email2"
				name = "email"
				placeholder="Email" 
				required/>
				<img id = "email2" onclick="startDictation(this.id)" src="//i.imgur.com/cHidSVu.gif" />
				<input 
				type="password" 
				id = "password2"
				name = "password"
				placeholder="Password" />
				<img id = "password2" onclick="startDictation(this.id)" src="//i.imgur.com/cHidSVu.gif" />
			</div>
			<!-- <a href="#">Forgot your password?</a> -->
			<button>Sign In</button>
            <br>
            <button><a href="../index.html">Back to Home</a></button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Welcome Back, Foodie!</h1>
				<p>Get connected and login with your personal info</p>
				<button class="ghost" id="signIn">Sign In</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Are you a new Foodie?</h1>
				<p>Enter your info and start journey with us</p>
				<button class="ghost" id="signUp">Sign Up</button>

			</div>
            
		</div>
	</div>
</div>
<div>
	<ul>
		<% if (typeof errors != 'undefined') { %> <% errors.forEach(error => { %>
		<li><%= error.message %></li>
		<% }) %> <% } %>
	  </ul>
  
	  <ul>
		<% if(messages.success_msg) { %>
		<li><%= messages.success_msg %></li>
		<% } %>
	  </ul>
  
	  <ul>
		<% if (messages.error) { %>
		<li><%= messages.error %></li>
		<% } %>
	  </ul>
</div>
<script src="login.js"></script>